<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Pyramid Shape tests" verbose="1">
<!--    <test name="Test repository">-->
<!--        <classes>-->
<!--            <class name=""/>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="Test factory">
        <classes>
            <class name="by.epam.eugene.factory.PyramidFactoryTest"/>
        </classes>
    </test>

    <test name="Test parser">
        <classes>
            <class name="by.epam.eugene.parser.PyramidParserTest"/>
        </classes>
    </test>

    <test name="Test reader">
        <classes>
            <class name="by.epam.eugene.reader.PyramidReader"/>
        </classes>
    </test>

    <test name="Test service">
        <classes>
            <class name="by.epam.eugene.service.impl.PyramidCalculateServiceImplTest"/>
        </classes>
    </test>

    <test name="Test validator">
        <classes>
            <class name="by.epam.eugene.validator.CustomFileValidatorTest"/>
            <class name="by.epam.eugene.validator.PyramidValidatorTest"/>
        </classes>
    </test>
</suite>